<% include partials/header %>
   <%if (err) {%>
        <div style="color:red"><%=err%></div>
        <hr/>
   <%} %>
   <form method="post" action="/songs" class="form-horizontal">
        <% include _formSong %>
        <input type="submit"/>
   </form>
<% include partials/footer %>
